@{
    ViewData["Title"] = "customRules";
}

<h1>Admin Custom Rules Page: @ViewBag.Page</h1>
<p>URL: /admin/adminhome/customrules/page(?)</p>

<a asp-area="Admin" asp-controller="AdminHome" asp-action="defaultRoute">Default Routing</a>
<a asp-area="Admin" asp-controller="AdminHome" asp-action="customRules">Custom Routing Rules</a>
<a asp-area="Admin" asp-controller="AdminHome" asp-action="customAttribute">Custom Routing Attribute</a>

