@{
    ViewData["Title"] = "defaultRoute";
}

<h1>Admin Default Routing</h1>
<p>URL: /admin</p>

<a asp-area="Admin" asp-controller="AdminHome" asp-action="defaultRoute">Default Routing</a>
<a asp-area="Admin" asp-controller="AdminHome" asp-action="customRules">Custom Routing Rules</a>
<a asp-area="Admin" asp-controller="AdminHome" asp-action="customAttribute">Custom Routing Attribute</a>
